<% include ../_partials/head %>
    <title>Home</title>
  </head>
  <body>
    <% include ../_partials/navbar %>
    <% include ../_partials/jumbotron %>

    <% include ../_partials/includeScripts %>
    </body>
  </html>
