<% include ../_partials/head %>
    <title>You have no messages yet</title>
    <link rel="stylesheet" type="text/css" href="messages.css">
  </head>
  <body>
    <% include ../_partials/navbar %>
    <div class="container text-center">
      <h1 class="text-primary">You have no messages yet!</h1>
      <p>If you want to send a message to someone, go to their profile and click "Send a message"</p>
    </div>
    <% include ../_partials/includeScripts %>
  </body>
</html>
