<div class="jumbotron">
  <h1 class="display-4">Hi there!</h1>
  <p class="lead">It looks like this is your first time here, why not start by creating an account?</p>
  <hr class="my-4">
  <p>Connect with all your friends just by clicking the button.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Create an account</a>
    <a class="btn btn-secondary" href="/login" role="button">I already have an account</a>
  </p>
</div>
