<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Social .NET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item
        <% if(typeof activePage !== "undefined" && activePage == "index"){%>
          active
        <% } %>">
        <a class="nav-link" href="/">Home
          <% if(typeof activePage !== "undefined" && activePage == "index"){ %>
            <span class="sr-only">(current)</span>
          <% } %>
        </a>
      </li>
      <li class="nav-item
        <% if(typeof activePage !== "undefined" && activePage == "messages"){%>
          active
        <% } %>">
          <a class="nav-link" href="/messages" id="navbarMessagesLink">Messages
          <% if(typeof activePage !== "undefined" && activePage == "messages"){ %>
            <span class="sr-only">(current)</span>
          <% } %>
          <% if(typeof messageNotificationCount !== "undefined" && messageNotificationCount != 0){ %>
            <span class="badge badge-pill badge-info" id="navbarMessageNotificationBadge"><%= messageNotificationCount %></span>
          <% } %>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item
        <% if(typeof activePage !== "undefined" && activePage == "about"){%>
          active
        <% } %>">
        <a class="nav-link" href="/about">About
          <% if(typeof activePage !== "undefined" && activePage == "about"){ %>
            <span class="sr-only">(current)</span>
          <% } %>
        </a>
      </li>
    </ul>
    <ul class="my-2 my-lg-0 navbar-nav">
      <li class="nav-item">
        <form class="form-inline" id="searchForm" action="/search" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="searchInput">
          <button class="btn btn-outline-primary mt-2 mt-sm-0" type="submit">Search</button>
        </form>
      </li>
      <li class="nav-item">
        <% if(typeof currentUser !== "undefined"){ %>
          <a href="/users/logout" class="btn btn-outline-danger mx-0 mx-sm-2 mt-2 mt-lg-0">Log out</a>
        <% } else{%>
          <a href="/login" class="btn btn-outline-success mx-0 mx-sm-2 mt-2 mt-lg-0">Log In</a>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
  $("#searchForm").submit(() => {
    if($.trim($("#searchInput").val()) === "") return false;
  })

  // connect to Socket.IO
  const socket = io.connect("http://127.0.0.1:8080");
  if(socket != undefined){
    console.log("Connected to Socket.IO");
  }
  else {
    console.log("Error connecting to Socket.IO");
  }

</script>

<!--IF THE USER IS LOGGED IN, SEND THE rememberTheSocket SIGNAL -->
<% if(typeof currentUser !== "undefined"){ %>
  <script>
    socket.emit("rememberTheSocket", {
      user: <%- currentUser %>
    })

    window.onbeforeunload = (e) => {
      socket.emit("forgetTheSocket", {
        user: <%- currentUser %>
      })
    }

    // if a message is received, update the navbar with a notification
    socket.on("messageNotification", (data) => {
      // if there already is a badge, increment its value
      if($("#navbarMessageNotificationBadge").length == 1) $("#navbarMessageNotificationBadge").text(Number($("#navbarMessageNotificationBadge").text()) + 1)

      //if the notification badge doesn't exist, create it
      else $("#navbarMessagesLink").append('<span class="badge badge-pill badge-info" id="navbarMessageNotificationBadge">1</span>')
    })
  </script>
<% } %>
