<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Social .NET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item
        <% if(typeof activePage !== "undefined" && activePage == "index"){%>
          active
        <% } %>">
        <a class="nav-link" href="/">Home
          <% if(typeof activePage !== "undefined" && activePage == "index"){ %>
            <span class="sr-only">(current)</span>
          <% } %>
        </a>
      </li>
      <li class="nav-item
        <% if(typeof activePage !== "undefined" && activePage == "messages"){%>
          active
        <% } %>">
          <a class="nav-link" href="/messages">Messages
          <% if(typeof activePage !== "undefined" && activePage == "messages"){ %>
            <span class="sr-only">(current)</span>
          <% } %>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item
        <% if(typeof activePage !== "undefined" && activePage == "about"){%>
          active
        <% } %>">
        <a class="nav-link" href="/about">About
          <% if(typeof activePage !== "undefined" && activePage == "about"){ %>
            <span class="sr-only">(current)</span>
          <% } %>
        </a>
      </li>
    </ul>
    <ul class="my-2 my-lg-0 navbar-nav">
      <li class="nav-item">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary mt-2 mt-sm-0" type="submit">Search</button>
        </form>
      </li>
      <li class="nav-item">
        <% if(typeof currentUser !== "undefined"){ %>
          <a href="/users/logout" class="btn btn-outline-danger mx-0 mx-sm-2 mt-2 mt-lg-0">Log out</a>
        <% } else{%>
          <a href="/login" class="btn btn-outline-success mx-0 mx-sm-2 mt-2 mt-lg-0">Log In</a>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
