<% include ../_partials/head %>
    <title>About</title>
  </head>
  <body>
    <% include ../_partials/navbar %>
    {Insert fascination info about the creator of this webiste here.}
  <% include ../_partials/includeScripts %>
  </body>
</html>
