<% include ../_partials/head %>
    <title>About</title>
  </head>
  <body>
    <% include ../_partials/navbar %>
    <div class="container my-2">
      <p>{Insert fascination info about the creator of this webiste here.}</p>
      Check out the source code of this website here: <a href="https://github.com/michaloslav/Social-.NET">https://github.com/michaloslav/Social-.NET</a>
    </div>
  <% include ../_partials/includeScripts %>
  </body>
</html>
