<% include ../_partials/head %>
    <title>Terms and conditions</title>
  </head>
  <body>
    <% include ../_partials/navbar %>
    There are no terms yet, just click the damn checkbox.

    <% include ../_partials/includeScripts %>
    </body>
  </html>
